


# Ignore all node_modules folders
node_modules/
client/node_modules/
server/node_modules/

# Ignore build/dist folders
build/
dist/

# Ignore environment files
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db
